# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @wonderflow @zzxwill @sunny0826 @barnettZQG @Somefive @jefree-cat @dhiguero @anoop2811 @FogDong @StevenLeiZhang @chivalryq 
